@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

*,
*::before,
*::after {
	font-family: "Arial";
	box-sizing: border-box;
}

header {
	background-color: #222222;
	color: #fff;

	margin-top: 0;
	padding: 1.5rem 1rem;
}

main {
	position: relative;
}

.brand-name {
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	font-variant-ligatures: none;
	letter-spacing: 0.5;
}

#family-info {
	padding: 0 1rem 1rem;
}

#graph {
	height: 600px;
	width: 100%;
	border: 2px solid #000;
}

#reset {
	position: absolute;
	right: 1rem;
	top: 0;
}
