@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

*,
*::before,
*::after {
	font-family: "Arial";
	box-sizing: border-box;
}

header {
	background-color: #222222;
	color: #fff;

	margin-top: 0;
	padding: 1.5rem 1rem;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
}

.brand-name {
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	font-variant-ligatures: none;
	letter-spacing: 0.5;
}

#family-info {
	padding: 0 1rem 1rem;
}

#node-list {
	width: 300px;
	max-height: 250px;
	overflow: scroll;
}

#graph {
	height: 800px;
	width: 100%;
	border: 2px solid #000;
}

/* #reset {
	position: absolute;
	right: 1rem;
	top: 0;
}

#make-rels {
	position: absolute;
	right: 1rem;
	top: 2rem;
} */

#dev-buttons {
	position: absolute;
	right: 1rem;
	top: 0;
}

#dev-buttons > div {
	margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
	main {
		flex-direction: row;
	}
}
