@import url("./normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap");

*,
*::before,
*::after {
	font-family: "Arial";
	box-sizing: border-box;
}

h2,
h3 {
	margin: 0.5rem 0;
}

header {
	background-color: #222222;
	color: #fff;

	margin-top: 0;
	padding: 1.5rem 1rem;
}

main {
	position: relative;
	display: flex;
	flex-direction: column;
}

.brand-name {
	font-family: "Rubik", sans-serif;
	font-weight: 700;
	font-variant-ligatures: none;
	letter-spacing: 0.5;
}

#container {
	padding: 0 1rem 1rem;
}

#family-info {
	margin-bottom: 3rem;
}

#node-list {
	width: 300px;
	max-height: 250px;
	overflow-y: scroll;
}

#memories {
	width: 300px;
	max-height: 500px;
	overflow-y: scroll;
}

.memory {
	border-bottom: 1px solid gray;
}

#graph {
	height: 800px;
	width: 100%;
	border: 2px solid #000;
}

#dev-buttons {
	position: absolute;
	right: 1rem;
	top: 0;
}

#dev-buttons > div {
	margin-bottom: 1rem;
}

.form-control {
	margin-bottom: 0.5rem;
}

.form-control input,
.form-control label {
	margin-bottom: 0.25rem;
	display: block;
}

#family-options .form-control input,
#family-options .form-control label {
	display: inline;
}

@media only screen and (min-width: 1024px) {
	main {
		flex-direction: row;
	}
}
